.heroe-detail {
  font-size: 0.8em;
  --ion-font-family: "Lucida Console", "Courier New", monospace;
  --background: #f9f9f9;
}

.mystic{
  color: #7922B5;
}
.cosmic{
  color: #0F94D7;
}
.tech{
  color: #1D2AD7;
}
.mutant{
  color: #EEB713;
}
.skill{
  color: #CC1616;
}
.science{
  color: #17A207;
}

.mystic-bg{
  --background: #7922B5;
}
.cosmic-bg{
  --background: #0F94D7;
}
.tech-bg{
  --background: #1D2AD7;
}
.mutant-bg{
  --background: #EEB713;
}
.skill-bg{
  --background: #CC1616;
}
.science-bg{
  --background: #17A207;
}

.mystic-bg, .cosmic-bg, .tech-bg, .mutant-bg, .skill-bg, .science-bg 
{
  --color: #fff;
}

.regular{
  color: darkblue;
}

.extended{
  color: darkred;
}

.counter{
  color: green;
}

