.mystic{
  color: purple;
}
.cosmic{
  color: rgb(15, 148, 195);
}

.tech{
  color: darkblue;
}

.mutant{
  color: rgb(238, 183, 19);
}

.skill{
  color: rgb(204, 22, 22);
}

.science{
  color: green;
}

.regular{
  color: darkblue;
}

.extended{
  color: darkred;
}

.counter{
  color: green;
}