<ion-item [ngClass]="getCSS(heroe.heroeClass)">
  <ion-avatar slot="start">
    <ion-img [src]="getImage(heroe.heroeClass)"></ion-img>
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    {{ heroe.name }}
  </ion-label>
  <ion-button *ngIf="heroe.infoPage != 'none'" 
    [href]="heroe.infoPage" 
    target="_blank" 
    color="light">
    Info
  </ion-button>
  <ion-toggle *ngIf="user"
      slot="end"
      color="primary"
      [checked]="heroe.isactive"
      (ionChange)="isactive.emit(heroe)"
      (click)="$event.stopPropagation()"
    ></ion-toggle>
</ion-item>
